.centered-column {
    display: flex;
    flex-direction: column;

    overflow-y: auto;

    align-items: center;

    padding: 2rem;
}

.create-counter-button {
    width: fit-content;

    padding-block: 1rem;
    padding-inline: 1rem;

    border: none;
    color: white;

    font-size: 1.25rem;

    background-color: rgb(25, 129, 220);

    cursor: pointer;

    transition: 150ms transform, 100ms background-color;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        background-color: rgb(51, 154, 244);
    }
}

.counter-filter {
    margin-bottom: 1rem;

    input {
        width: 515px;

        padding: 0.8rem;

        font-size: 1rem;

        box-sizing: border-box;

        border: 1px solid rgb(112, 112, 112);
        border-radius: 6px;

        box-shadow: 4px 4px 10px 0px rgba(227, 227, 227, 0.75);
    }
}

.counter-list {
    height: 500px;
    width: 450px;

    border: 1px solid rgb(172, 172, 172);
    border-radius: 6px;

    gap: 1rem;
}
